.transiiton-smooth {
  transition: opacity 1500ms ease-in-out, transform 1500ms ease-in-out;
  /* transition: transform 150ms ease-in-out; */
}

.translate-up {
  transform: translateY(0px);
}

.translate-down {
  transform: translateY(10px);
}
