@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.gjs-cv-canvas {
  width: 100%;
  height: 100%;
  top: 0;
}

#block {
  height: 100%;
}

#blocks {
  height: 100%;
  @apply font-semibold;
}

.gjs-pn-panel {
  position: relative;
  background: transparent !important;
  /* display: none; */
}

.gjs-pn-btn {
  background: transparent !important;
}

.gjs-pn-active {
  @apply text-[#00ffff] !important;
}

.gjs-pn-buttons {
  @apply h-full !important;
}

.gjs-pn-buttons:hover {
  @apply bg-[#252423] !important;
}

/* Adding our theme */
.gjs-one-bg {
  @apply bg-gray-200;
}

.gjs-two-color {
  @apply bg-gray-200;
  @apply text-gray-600;
  @apply font-semibold;
}

.gjs-three-bg {
  @apply bg-gray-800;
  @apply text-gray-900;
}

.gjs-four-color {
  @apply text-gray-400;
}

.gjs-four-color-h:hover {
  @apply text-[#009e9e];
}

.gjs-field input {
  @apply text-gray-700 !important;
  @apply bg-gray-300 !important;
}

.gjs-field-arrow-u {
  border-left: 3px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(56, 56, 56, 0.7);
}

.gjs-field-arrow-d {
  border-left: 3px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(56, 56, 56, 0.7);
}

.gjs-input-unit {
  @apply text-gray-700 !important;
}

.gjs-sm-properties {
  @apply bg-gray-200;
}

.gjs-title {
  @apply font-semibold !important;
}

.gjs-sm-title {
  @apply font-semibold !important;
}

.gjs-mdl-header {
  border-bottom: none !important;
}

#gjs-sm-add {
  @apply text-gray-700 !important;
}

.header__panel-visibility {
  @apply text-gray-400;
}
