.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(49, 46, 43);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.548);
}

.logo-wrapper p {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.logo-wrapper p span {
  padding: 0;
  margin: 0;
}

.logo-wrapper p #logo {
  color: aqua;
  font-size: 30px;
}

.user-icon {
  width: 30px;
  height: 30px;
}
