/* Let's highlight canvas boundaries */
#gjs {
  /* border: 3px solid #444; */
  --canvas__frames_margin: 50px;
}

/* Add padding */
.gjs-frame-wrapper {
  padding: 50px;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gjs-cv-canvas__frames {
  /* left: 50%;
  transform: translateX(calc(-50% - var(--canvas__frames_margin))); */
  width: calc(100% - 100px);
  margin: var(--canvas__frames_margin);
  height: calc(100% - 2 * var(--canvas__frames_margin));
}
.gjs-frame {
  overflow-y: hidden;
}
.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}

.gjs-pn-panel {
  position: unset;
  padding: 0;
}

.gjs-pn-buttons {
  height: 100%;
}

.gjs-pn-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-right: 0;
  margin: auto;
  padding: 0;
  border-radius: unset;
  position: relative;
  width: 100%;
  min-width: 64px;
  stroke: #e0e0e3;
  @apply hover:bg-dark flex min-h-[100%] justify-center;
}

.gjs-pn-btn:hover {
  @apply bg-dark;
}

.gjs-pn-btn:active {
  @apply bg-dark;
}

.gjs-pn-btn.gjs-pn-active {
  @apply bg-dark bg-opacity-70;
  box-shadow: unset;
}

.gjs-pn-btn.gjs-pn-active:hover,
.gjs-pn-btn.gjs-pn-active:active {
  @apply bg-dark;
}

.gjs-one-bg {
  background-color: unset;
}

.gjs-four-color {
  color: #00edff;
  stroke: #00edff;
  fill: #00edff;
}
