@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .grid-template-cols {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }

    .no-text-selection::selection {
      color: none;
      background: none;
    }
    /* For Mozilla Firefox */
    .no-text-selection::-moz-selection {
      color: none;
      background: none;
    }

    /* width */
    .custom-scrollbar::-webkit-scrollbar {
      width: 10px;
    }
    .scrollbar-rounded::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    .custom-scrollbar::-webkit-scrollbar-track {
      display: none;
    }

    /* Handle */
    .custom-scrollbar::-webkit-scrollbar-thumb {
      @apply bg-grey-light bg-opacity-70;
    }

    .scrollbar-rounded::-webkit-scrollbar-thumb {
      @apply rounded-full;
    }

    /* Handle on hover */
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      @apply bg-opacity-40;
    }
    .scrollbar-rounded::-webkit-scrollbar-thumb:hover {
      @apply bg-blue-icons;
    }
  }
}
